* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
    border: none;
    background: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
}

:root {
    --main-text-color: #000000;
    --font-family: 'Inter', sans-serif;
    --background: #F6F7F7;
    --backgound-2: linear-gradient(99deg, rgba(0, 197, 235, 1), rgba(181, 68, 254, 1));
}

address {
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


body {
    font-family: var(--font-family);
    color: var(--main-text-color);
    background-color: var(--background);
}

header {
    position: fixed;
    top: 20px;
    left: 0;
    /* padding: 14px 0; */
    width: 100%;
    background: linear-gradient(99deg, rgba(0, 197, 235, 0.3), rgba(181, 68, 254, 0.3));
}

.container {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    

}

.section {
    padding: 40px 20px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .container {
        width: 100%
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px ;
}

.logo-link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 28px;
    color: #fff;
    position: relative;
    z-index: 99;
}

.hamburger {
    cursor: pointer;
    position: relative;
    height: 14px;
    width: 24px;

}

/* .hamburger span{
    margin-bottom: 5px;
    height: 2px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.hamburger:nth-child(1){
    top: 25%;
}
.hamburger:nth-child(2){
    top: 50%;
}
.hamburger:nth-child(3){
    top: 75%;
} */
.hamburger {
    cursor: pointer;
    position: relative;
    height: 24px;
    width: 24px;
}

.line {
    height: 2px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.nav-bar {
    background-color: #07081C;
    background-image: radial-gradient(circle at center, rgba(7, 8, 28, 1) 45%, rgba(0, 197, 235, 0.1), rgba(181, 68, 254, 0.1));
    height: 100vh;
    width: 100%;
    position: fixed;
    max-width: 767px;
    top: 0;
    right: -767px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.nav-bar.active {
    right: 0;
}



.line:nth-child(1) {
    top: 25%;
}

.line:nth-child(3) {
    top: 75%;
}

.hamburger.active .line:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.hamburger.active .line:nth-child(2) {
    opacity: 0;
}

.hamburger.active .line:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}



.nav-list {
    /* display: flex; */
}

.nav-items {
    display: block;
}

.nav-link {
    display: block;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    color: #fcfcfc;
    margin-bottom: 36px;
}

.nav-list .nav-items:nth-child(2) a {
    color: #fff;
}

.current {
    margin: 0 auto;
    margin-bottom: 36px;
    width: 97px;
    background: linear-gradient(99deg, rgba(0, 197, 235, 1), rgba(181, 68, 254, 1));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    /* Скрваем оригинальный текст */
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;

    }
    .header{
 padding:14px 32px;
    }
    .hamburger{
        display: none;
    }

    .nav-bar {
        background-color: transparent;
        background-image: none;
        position: static;
        height: 100%;
        flex-direction: row;
    }

    .nav-list {
        display: flex;
        gap: 40px;
        margin-left: auto;
    }

    .nav-link {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 12px;
        color: #fff;
        margin-bottom: 0;
    }

    .current {
        width: 100%;
        -webkit-text-fill-color: #fcfcfc;
    }
}


@media only screen and (min-width: 1280px){
    .container{
        max-width: 100%;
    }
    .header{
        padding: 19px 16px;
    }
}